@import url(galeria.css);
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

@font-face {
    font-family: 'Asgard Trial';
    src: url('./fonts/ASGARDTRIAL-FITFATITALIC.TTF') format('ttf'); /* Substitua pelo caminho do seu arquivo de fonte */
    font-weight: bolder;
    font-style: italic;
}
@font-face {
  font-family: 'Le Murmure';
  src: url('./fonts/LeMurmure-Regular.woff2') format('woff2'), /* Specify the correct font format */
       url('./fonts/LeMurmure-Regular.woff') format('woff'); /* Add more formats if needed */
  font-weight: normal; /* Adjust font weight if necessary */
  font-style: normal; /* Adjust font style if necessary */
}

*{
  margin: 0px;
  padding: 0px;
  border: 0px;

}
body{
    background-color: #FAEBD7;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
ul[title]::before {
    content: attr(title);
    color: #DC143C;
    font-size: 1.5em;
    display: block;
    font-weight: bold;
    padding: 4px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    text-emphasis-color: none;
    color: #FAEBD7;
}
nav{
    font-family: 'Antonio',sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 10;
    mix-blend-mode: difference;
}
#seta{
  position: absolute;
  width: 10%;
  top: 40%;
  left: 70%;
}
footer{
    position: absolute;
    bottom: 0px;
    z-index: 9;
    font-family: 'Le Murmure';
    font-size:200%;
    width: 100%;
    overflow-x: hidden;
    pointer-events: none;
    white-space: nowrap;
}

#container-nome {
  width: 100%;
  height: 50px; /* Altura da faixa onde o texto se moverá */
  overflow: hidden;
  position: absolute;
}

#nome-animado {
  position: absolute;
  animation: moveText 10s linear infinite; /* Ajuste a duração e o tempo conforme necessário */
}

@keyframes moveText {
  0% {
      left: -50%; /* Inicializa o texto à direita da faixa */
  }
  100% {
      left: 100%; /* Move o texto para a esquerda da faixa */
  }
}

/* horizontal srcroll */
section.hScroll {
    margin: 0;
    padding: 0%;
    margin-left: -10px;
    height: 100vw;
    width: 100vh;
    overflow: hidden auto;
    transform-origin: right top;
    transform: rotate(-90deg) translateY(-100vh);
  }
  .hScroll_block {
    margin: 0;
    padding: 0%;
    border: none;
    width: 100vw;
    height: 100vw;
    position: relative;
    transform-origin: left top;
    transform: rotate(90deg) translateY(calc(-100vh));
  }
  .hScroll_block:last-child {
    margin: -10px;
    
  }
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
  }
/*----------styling--------------*/

  #abbout{
    padding-top: 15%;
    padding-left: 40%;
  }

  .conteinerTextos{      
    font-family: 'Neuton', serif;
    
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10vh;
        max-width: 90%;
        width: 350px;
        min-width: 40%;
  }
#txt-scroll{
    font:12px;
}

  #worksWeb{
    padding: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
 
  #webTexto{
    position: absolute;
    display: flex;
    top:40%;
    color: #FAEBD7;
    text-align: center;
    font-family: 'Asgard Trial','Concert One', sans-serif;
    font-size:20vw;
    font-style: italic;
    font-weight: bolder;
    line-height: 44.93px;
    letter-spacing: 29.877px;
    pointer-events: none;
  }
  #graphicTexto{
    max-width: 100vw;
    position: absolute;
    display: flex;
    top:5%;
    color: #f0bf7e;
    text-align: center;
    font-family: 'Dela Gothic One', cursive;
    font-size:15vw;
    line-height: 60px;
    letter-spacing: 29.877px;
    mix-blend-mode: hard-light;
    pointer-events: none;
  }  

  #worksGraphic{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 20%;

  }

  #contactSection{
    /* background-color: blue; */
    margin: 0%;
    padding: 0%;
  }
  #contact{
    font-family: 'Antonio',sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    position: absolute;
    right: 3vw;
    top: 20vh;
    z-index: 10;
  }
  
  .linkContact{
    color: #232323;
  }
  .linkContact:hover{
    color: #DC143C;
  }
  
  .fundo{
    position: absolute;
    top:0;
    /* overflow: hidden; */
  }
  .rosa{
    z-index:-1;
  }
  .roxo{
    z-index: -2;
  }


  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 800px) {
    nav{
      position:fixed;
      top:10px;
      margin-left: auto;
    }
    footer{
      position: fixed;
      bottom: 0px;
    }

    #container-nome {
      width: 100%;
      height: 50px; /* Altura da faixa onde o texto se moverá */
      overflow: hidden;
      position: fixed;
    }
    
    #nome-animado {
      position: fixed;
    }

    .listagrande li{
      display: inline;
      margin-right: 10px;
      padding: 5px;
      /* border: #232323;
      border-style: ridge; */
    }
    .hScroll_block {
      overflow:visible;
      transform: rotate(-0) translateY(0);
      max-width: 100vw;
    }
  
    section.hScroll {
      overflow:visible;
      transform: rotate(0) translateY(0);
      max-width: 100vw;
    }
   
    body{
      /* background-color: green; */
      overflow-y: visible;
      overflow-x: hiden;
    }

    #seta{
      display: none;
    }
    .fundo{
      /* display: none; */
      width: 100 vw;
        height: 1250px;
    }

    #abbout{
      padding-left: 7%;
      padding-top: 0;
      font-size: small;
       display: flex;
      justify-content: center;
      align-items: center;
      height: 150vh;
      width: 100vw;
    }
    .galeria{
      margin-top: 5%;
    }
    #webTexto{
      top: 50%;
        color: blue;
    }
    #graphicTexto{
      font-size:12vw;
        letter-spacing: normal;
      /* padding-left: 10%; */
    }
    #worksGraphic{
      padding-left: 3px;
      padding: 5%;
    }
      #worksWeb{
      padding-left: 3px;
      padding: 5%;
    }
    ul[title]::before {
      color:#FAEBD7;
  }
  #contact{
    left: 60px;
  }
 #graficBackground{
     display: none;
  }
      #webBackground{
      display: none;
      }
  }
